section {
  display: flex;
  flex-direction: column;
  align-items: center;       /* centra vertical */
  justify-content: center;   /* centra el grupo horizontalmente */
  gap: 1rem;
  min-height: calc(100vh - 80px);
  margin-top: 5rem;
  padding: 1rem;

        .contenedor-btn,
        .contenedor-canvas {
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

.contenedor-btn button {
  padding: 0.6rem 1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

